$color-primary-light:#6195c5c5;
// $color-primary:#ff0000;
$color-primary:#0f4c75;
$color-primary-dark:#a30101;

// $color-secondary:#318add;
$color-secondary:#4e89ae;


$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1:#575757;
$color-gray-dark-2:#171717;

$color-background:rgb(248, 241, 224);


$color-white: #fff;
$color-black: #000;

$defalut-font-size:1.7rem;

$font-family-secondary:'Montserrat-Light';
$font-family-primary:'Montserrat-Light';
$font-family-thick:'Caveat';
$font-family-regular:'Kaushan';


$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

